@import '../styles/tiptap.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-bg font-inter dark:bg-dark-bg;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .masonry {
    column-gap: 1.5em;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 1.5em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1.2em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}

.react-resizable-handle {
  background-image: none;
  padding: 0;
  /* background-color: yellow; */
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s,
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne,
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw,
.react-grid-item > .react-resizable-handle.react-resizable-handle-se,
.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  transform: none;
  margin: 0;
}
.react-grid-item > .react-resizable-handle::after {
  border: none;
  content: none;
}

.react-draggable-dragging {
  @apply opacity-90 backdrop-blur-xl  bg-white  scale-110 z-50    drop-shadow-2xl shadow-black/60;
}
.react-grid-item.react-grid-placeholder {
  background-color: rgb(212 212 212 / 0.4) !important;
  border: 0px solid transparent !important;
  @apply rounded-2xl;
}

.react-grid-item {
  @apply transition-[width,height,transform] dark:border-dark-border;
}

@layer base {
}
